@(photo: Option[ly.gravit.web.Photo], user: Option[ly.gravit.web.auth.Account],
    location: Option[ly.gravit.web.Location], category: Option[ly.gravit.web.Category])(implicit imagePath: String)

@main("Gravitly Photo") {

  <div class="solo-photo-container">
    
    <div class="photo">
      <img src="@imagePath/@photo.get.filename" alt="@photo.get.caption" width="306" height="306">
    </div>

    <div class="photo-content">
      <div class="solo-photo-owner">
        <div class="owner-avatar">
          <img src="/assets/images/gravitly-mini.png">
        </div>

        <div class="solo-description">
          <h1>
            <a href="/u/@user.get.id" class="link">@user.get.name</a>
          </h1>

          @photo.get.locationName.map { loc =>
            <div class="icon-blue-location"></div>
            <div class="owner-location">
              @(photo.get.latitude, photo.get.longitude) match {
                case (Some(lat), Some(long)) => {
                <a href="@routes.Photos.photosByGeo(photo.get.latitude.get.toString,photo.get.longitude.get.toString)">@loc</a>
                }
                case _ => {
                    @loc
                }
              }
            </div>
          }
          <div class="owner-category">
            Sport: <a href="/photos/category/@category.get.id" class="link">@category.get.name</a>
          </div>

          <p class="image-name">@photo.get.caption</p>
        </div>

      </div>
            
      <div class="post-description">
          @photo.get.hashTags.get.map { tag =>
          <a class="hashtag"  href="@routes.Photos.photosByTag(tag)">#@tag </a>
          }
      </div>

        <div class="post-details">
            <div class="details">
                @(photo.get.latitude, photo.get.longitude) match {

                case (Some(lat), Some(long)) => {
                <div class="geolocation-container">
                    <div class="icon-gray-compass"></div>
                    <div class="post-geolocation">@lat @photo.get.latitudeRef, @long @photo.get.longitudeRef</div>
                </div>
                }

                case _ => {}

                }
                <div class="timestamp-container">
                    <div class="icon-gray-time"></div>
                    <div class="post-timestamp">@photo.get.dateCreated.get.format("EEE MMM dd yyyy")</div>
                </div>
            </div>
            <div class="share-post">
                <div class="share-utl">
                    		<div class="share-btn">
                    			<div class="share">
                    			 <div class="icon-white-share"></div>
									<p>Share</p>
								</div>
								<div class="share-opt">
    	                			 <div class="icon-white-darrow"></div>
    	                			 
    	                			 
    	                			
                    			</div>
                    			 <div class="options">
                    					<p>ooo</p>
                    					<p>ooo</p>
                    					<p>ooo</p>
                    			</div>
                    		</div>
                    	</div>
            </div>
        </div>

   </div>

  </div>
}
