@(photos: scala.collection.mutable.LinkedHashMap[String, Tuple4[ly.gravit.web.Photo, ly.gravit.web.auth.Account,
    ly.gravit.web.Location, ly.gravit.web.Category]])(implicit imagePath: String)

@main("Gravitly Photo") {
@if(photos.size > 0) {
<!--start profile-->
<div class="profile">
    <div class="grid_12">
        <div class="profile-info-wrapper">
            <div class="avatar-container">
                <img src=@routes.Assets.at("images/gravitly-mini.png")>
            </div>

            <div class="description-container">
                <h1>
                    @photos.head._2._2.name
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, fugit, quasi placeat impedit vitae cumque officia et perferendis temporibus ipsam tenetur ut laborum quo perspiciatis.<a class="link" href="#"> http://gravit.ly</a>
                </p>
            </div>

            <div class="badges">
                <div class="icon-badge-water"></div>
                <div class="icon-badge-water"></div>
                <div class="icon-badge-water"></div>
            </div>


            <div class="post-count-container">
                <div class="number-post">
                    310
                    <p>
                        POST
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- end profile -->
<!-- start switcher -->
<div class="switcher">
    <div class="grid_9">
        <div class="accent">
            &nbsp
        </div>
    </div>

    <div class="grid_3">
        <div class="switcher-utl">
            <ul>
                <li class="icon-white-grid"><a href="#"></a></li>
                <li class="icon-white-list"><a href="#"></a></li>
                <li class="icon-white-map"><a href="#"></a></li>
            </ul>
            <div class="arrow-down"></div>
        </div>
    </div>
</div>

@for((k,v) <- photos) {
<!-- start content -->
<div class="content-container">
    <div class="content">
<div class="post-container">
    <div class="post">
        <div class="post-owner">
            <div class="owner">
                <div class="owner-container">
                    <div class="owner-avatar">
                        <!--img src=@routes.Assets.at("images/gravitly-mini.png")-->


                        @v._2.imageURL match {
                            case null => { <img src=@routes.Assets.at("images/gravitly-mini.png")> }
                            case _ => { <img src=@v._2.imageURL width="52px" height="52px"> }
                        }

                    </div>

                    <div class="owner-name">
                        <a href="/u/@v._2.id">@v._2.name</a>
                    </div>

                    @v._1.locationName.map { loc =>
                    <div class="icon-blue-location"></div>
                    <div class="owner-location">
                        @(v._1.latitude, v._1.longitude) match {
                          case (Some(lat), Some(long)) => {
                            <a href="@routes.Photos.photosByGeo(v._1.latitude.get.toString,v._1.longitude.get.toString)">@loc</a>
                          }
                          case _ => {
                            @loc
                          }
                        }
                    </div>
                    }
                </div>

                <div class="owner-badge-container">
                    <div class="owner-badge">
                        <div class="icon-badge-water"></div>
                        <div class="icon-badge-water"></div>
                        <div class="icon-badge-water"></div>
                        <div class="icon-badge-water"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="post-image">
            <a href="/photos/@k"><img src="@imagePath/@v._1.filename" alt="@v._1.caption" width="612" height="612"></a>
        </div>
        <div class="post-description">
            @v._1.caption

            @v._1.hashTags.map { ht =>
              @ht.map { tag =>
              <a class="hashtag"  href="@routes.Photos.photosByTag(tag)">#@tag </a>
              }
            }
        </div>
        <div class="post-details">
            <div class="details">
              @(v._1.latitude, v._1.longitude) match {

                case (Some(lat), Some(long)) => {
                <div class="geolocation-container">
                    <div class="icon-gray-compass"></div>
                    <div class="post-geolocation">@lat @v._1.latitudeRef, @long @v._1.longitudeRef</div>
                </div>
                }

                case _ => {}

              }
                <div class="timestamp-container">
                    <div class="icon-gray-time"></div>
                    <div class="post-timestamp">@v._1.dateCreated.get.format("EEE MMM dd yyyy")</div>
                </div>
            </div>
            <div class="share-post">
               <div class="share-utl">
                    		<div class="share-btn">
                    			<div class="share">
                    			 <div class="icon-white-share"></div>
									<p>Share</p>
								</div>
								<div class="share-opt">
    	                			 <div class="icon-white-darrow"></div>
    	                			 
    	                			 
    	                			
                    			</div>
                    			 <div class="options">
                    					<p>ooo</p>
                    					<p>ooo</p>
                    					<p>ooo</p>
                    			</div>
                    		</div>
                    	</div>
            </div>

                </div>
            </div>
        </div>
    </div>
</div>
  }
} else {
    <div>
    <h2>No Photos to Show</h2>
    </div>
}

}