@(photo: Option[ly.gravit.web.Photo])(implicit imagePath: String)

@main("Gravitly Photo") {

<div class="solo-photo-container">  
    
    <div class="photo">
    	<img src="@imagePath/@photo.get.filename" alt="@photo.get.caption" width="306" height="306">
    </div>

    <div class="photo-content">



            <div class="details">

            <div class="owner-avatar">
                <img src="/assets/images/gravitly-mini.png"></img>
                <p>"@photo.get.caption"</p>

            </div>
                <div class="post-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, fugit, quasi placeat impedit vitae cumque officia et perfe. #dolor #sit #amet #consectetur #adipisicing #obis #quasi
                </div>


            </div>



	</div>
	
</div>
}
