@(photo: Option[ly.gravit.web.Photo], user: Option[ly.gravit.web.auth.Account],
    location: Option[ly.gravit.web.Location], category: Option[ly.gravit.web.Category])(implicit imagePath: String)

@main("Gravitly Photo") {

  <div class="solo-photo-container">
    
    <div class="photo">
      <img src="@imagePath/@photo.get.filename" alt="@photo.get.caption" width="306" height="306">
    </div>

    <div class="photo-content">
      <div class="solo-photo-owner">
        <div class="owner-avatar">
          <img src="/assets/images/gravitly-mini.png">
        </div>

        <div class="solo-description">
          <h1>
            <a href="/u/@user.get.id">@user.get.name</a>
          </h1>

          <div class="icon-blue-location"></div>
          <div class="owner-location">
            <a href="/photos/location/@location.get.id">@location.get.name</a>
          </div>
          <div class="owner-category">
            Sport: <a href="/photos/category/@category.get.id">@category.get.name</a>
          </div>

          <p class="image-name">@photo.get.caption</p>
        </div>

      </div>
            
      <div class="post-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, fugit, quasi placeat impedit vitae cumque officia et perfe. <a class="hashtag"  href="#">#dolor </a><a class="hashtag" href="#"> #sit</a><a class="hashtag" href="#"> #amet </a><a class="hashtag" href="#">#consectetur</a><a class="hashtag" href="#"> #adipisicing </a><a class="hashtag" href="#">#obis</a><a class="hashtag"  href="#"> #quasi</a>
      </div>

   </div>

  </div>
}
