@(form: Form[(String, String, String, Boolean, List[String], Option[String])], location : List[ly.gravit.web.Location],
    category: List[ly.gravit.web.Category])

@main("Photo Upload") {

<div class="photo-upload-container">
  <h1>Photo Upload</h1>

  @helper.form(routes.Admin.postUpload, 'enctype -> "multipart/form-data" ) {
    <input type="text" name="caption" placeholder="Caption" size="30">
    <br>
    <select name="location">
      <option value="-1">[ Select Location ]</option>
       @location.map{ loc =>
        <option value="@loc.id">@loc.name</option>
        }
    </select>
    <br>
    <select name="category">
      <option value="-1">[ Select Sport ]</option>
        @category.map{ cat =>
        <option value="@cat.id">@cat.name</option>
        }
    </select>
    <p>
        Hash Tags: <input type="text" name="hashTags[0]" id="hashTags1" /> <input type="text" name="hashTags[1]" id="hashTags2" />
    </p>
    <br>
    <input type="file" name="image" id="file">
    <br>
    <p>Location: <input type="text" name="locationName"></p>
    <p>
        @helper.checkbox(form("isPrivate"), '_label -> "Private?")
    </p>
    <div class="upload-button">
    <button type="submit" class="btn-blue">Upload</button>
  	</div>
  }
 </div>
}
