@main("Welcome to Gravitly") {
   
   
     <!--  start body -->
   
        <!-- start profile -->
        <div class="profile">
            <div class="grid_12">
                <div class="profile-info-wrapper">
                    <div class="avatar-container">
                        <img src="@routes.Assets.at("images/gravitly.png")"><img>
                    </div>

                    <div class="description-container">
                        <h1>
                            Leonardo Dapdap
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, fugit, quasi placeat impedit vitae cumque officia et perferendis temporibus ipsam tenetur ut laborum quo perspiciatis.<div class="link"> http://gravit.ly</div>
                        </p>
                    </div>

                    <div class="badges">
                        xxxxxx
                    </div>


                    <div class="post-count-container">
                        <div class="number-post">
                            310
                            <p>
                                POST
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- end profile -->
        <!-- start switcher -->
        <div class="switcher">
            <div class="grid_9">
                <div class="accent">
                    &nbsp
                </div>
            </div>

            <div class="grid_3">
                <div class="switcher-utl">
                    <ul>
                        <li class="icon-white-grid"><a href="#"></a></li>
                        <li class="icon-white-list"><a href="#"></a></li>
                        <li class="icon-white-map"><a href="#"></a></li>
                    </ul>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div> 

<!-- start content -->
<div class="content-container">
    <div class="content">
        <div class="post-container">
            <div class="post">
                <div class="post-owner">
                    <div class="owner">
                        <div class="owner-container">
                            <div class="owner-avatar">
                                <img src=@routes.Assets.at("images/gravitly-mini.png")>
                            </div>

                            <div class="owner-name">
                                Leonardo Dapdap
                            </div>



                            <div class="icon-blue-location"></div>
                            <div class="owner-location">
                                American River
                            </div>
                        </div>

                        <div class="owner-badge">
                            xxxxxx
                        </div>

                    </div>
                </div>
                <div class="post-image">
                    <img src=@routes.Assets.at("images/image.png")>
                </div>
                <div class="post-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, fugit, quasi placeat impedit vitae cumque officia et perfe. <div class="hashtags">#dolor #sit #amet #consectetur #adipisicing #obis #quasi</div>
                </div>
                <div class="post-details">
                    <div class="details">
                        <div class="geolocation-container">
                            <div class="icon-gray-compass"></div>
                            <div class="post-geolocation">12.5969 N, 85.8795 W</div>
                        </div>
                        <div class="timestamp-container">
                            <div class="icon-gray-time"></div>
                            <div class="post-timestamp">August 11, 2013 13:17 PST</div>
                        </div>
                    </div>
                    <div class="share-post">
                        sius bonorum ne est, eam commune sapientem cu.
                    </div>

                </div>
            </div>
        </div>

        <div class="post-container">
            <div class="post">
                <div class="post-owner">
                    <div class="owner">
                        <div class="owner-container">
                            <div class="owner-avatar">
                                <img src=@routes.Assets.at("images/gravitly-mini.png")>
                            </div>

                            <div class="owner-name">
                                Leonardo Dapdap
                            </div>



                            <div class="icon-blue-location"></div>
                            <div class="owner-location">


                                American River
                            </div>
                        </div>

                        <div class="owner-badge">
                            xxxxxx
                        </div>

                    </div>
                </div>
                <div class="post-image">
                    <img src=@routes.Assets.at("images/image.png")>
                </div>
                <div class="post-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, fugit, quasi placeat impedit vitae cumque officia et perfe. <div class="hashtags">#dolor #sit #amet #consectetur #adipisicing #obis #quasi</div>
                </div>
                <div class="post-details">
                    <div class="details">
                        <div class="icon-gray-compass"></div>
                        <div class="post-geolocation">12.5969 N, 85.8795 W</div>

                        <div class="post-timestamp">August 11, 2013 13:17 PST</div>
                    </div>
                    <div class="share-post">
                        sius bonorum ne est, eam commune sapientem cu.
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

<!-- end of content -->
    
}
