@(title: String)(content: Html)
@defining(play.api.Play.current.configuration.getString("assets.base.url")){ assetsUrl =>

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
       <!-- <link rel="stylesheet" type="text/css" href="@assetsUrl/stylesheets/gravitly-style.min.css" />-->


        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/960/min/reset_rtl.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/960/min/text_rtl.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/960/min/960_rtl.css")" />
        <link rel="stylesheet" type="text/css" href="@assetsUrl/stylesheets/gravitly-style.min.css" />
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>

        <!-- <script src="Scripts/js/less-1.4.1.min.js" type="text/javascript"></script>-->
    </head>
    <body>
    <!--  start main-nav -->
    <div class="main-nav">
        <div class="main-nav-container">
           <div class="home-button">

           </div>
           <div class="head-logo">
               <img src="assets/images/gravitly-head-logo.png">

           </div>
        </div>
    </div>
    <!--  end main-nav -->

    <!--  start body -->
    <div class="container_12">
        <!-- start profile -->
        <div class="profile">
            <div class="grid_12">
                <div class="profile-info-wrapper">
                    <div class="avatar-container">
                        <img src="@routes.Assets.at("images/gravitly.png")">
                    </div>

                    <div class="description-container">
                        <h1>
                            Leonardo Dapdap
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, fugit, quasi placeat impedit vitae cumque officia et perferendis temporibus ipsam tenetur ut laborum quo perspiciatis.<div class="link"> http://gravit.ly</div>
                        </p>
                    </div>

                    <div class="badges">
                        xxxxxx
                    </div>


                    <div class="post-count-container">
                        <div class="number-post">
                            310
                            <p>
                                POST
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- end profile -->
        <!-- start switcher -->
        <div class="switcher">
            <div class="grid_9">
                <div class="accent">
                    &nbsp
                </div>
            </div>

            <div class="grid_3">
                <div class="switcher-utl">
                    <ul>
                        <li class="icon-white-grid"><a href="#"></a></li>
                        <li class="icon-white-list"><a href="#"></a></li>
                        <li class="icon-white-map"><a href="#"></a></li>
                    </ul>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div>
        @content
    </body>
</html>
 }